# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/

# data
data/datasets/
data/embedings/

# IDE
.idea/

tardis\.egg-info/
